<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Imageboard</title>
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
<header>
            <h1>IMAGEBOARD</h1>
        </header>

    <main id="main">
        
        <modal v-if="currentImageId" v-bind:id="currentImageId"  @close="onCloseButtonClick">
        </modal>

        <form @submit.prevent.default="handleSubmit">
            <div>
                <label>USERNAME:
                <input name="username" v-model="username" placeholder="username" class="input-field"></label>
                 <label>TITLE:
                <input name="title" v-model="title" placeholder="title" class="input-field"></label>
                 <label>DESCRIPTION:
                <input name="description" v-model="description" placeholder="description" class="input-field"></label>
                <label for="file" class="fileButton">UPLOAD IMAGE:</label>
                <input id="file" type="file" accept="image/*" name="file" class="input-field" @change="handleFileChange">
                <button class="input-field" >SUBMIT</button>
            </div>
        </form>


        <div class="show-images">
            <div v-for="image in images"  @click="onImageClick(image)">
                
                <img v-bind:src='image.url'/>
                <h4>{{image.title}}</h4>
                <!-- <p>{{image.description}}</p>
                <p>-by {{image.username}}</p> -->

            </div>
        </div>

        <div id="more-btn" >
           <button  v-if="moreImages" v-on:click="onMoreButtonClick">LOAD MORE IMAGES</button>
        </div>

    </main>
    <script src="/js/app.js" 
    type="module" 
    crossorigin="use-credentials"
    ></script>
</body>

</html>